<!doctype html>
<title>Server Send Events Demo</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script>

var socket = io.connect('https://flaskappprogram.herokuapp.com/test');

 socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

  socket.on('my_response', function(msg) {
              $("#data").append( "<div class=\"container\"><p>"+msg.message_text+"</p><span class = \".time-right\">"+msg.user_name+"</span></div>");
                  
            });
  socket.on('connected', function(msg) {
              console.log('connected')
                  
            });


</script>
<p><a href="/">Home</a></p>

<form action="/send_message" method="post">
	<input type="text" name="msg_text">
    <button name="forwardBtn" type="submit">Send</button>
</form>
<div id="data">All messages:
</div>

