<!doctype html>
<title>Messages</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css"/>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script>
	var socket = io.connect('https://flaskappprogram.herokuapp.com/test');

	socket.on('connect', function() {
		socket.emit('my_event', {data: 'I\'m connected!'});
	});

	socket.on('my_response', function(msg) {
		$('#chat-messages').animate({ scrollTop: $('#'+msg.user_id).height() }, "slow");
		$("#"+msg.user_id).append("<div class=\"chip\" >"+msg.user_name+":</div><div class = \"white-text\">"+msg.message_text+"</div><br>");

	});
	socket.on('bot_msg', function(msg) {
		$('#chat-messages').animate({ scrollTop: $('#'+msg.user_id).height() }, "slow");
		$("#"+msg.user_id).append("<div class=\"chip\" >Бот:</div><div class = \"white-text\">"+msg.message_text+"</div><br>");

	});

	socket.on('newUserInBot', function(msg) {
		console.log("New user in bot")
		$("#data").append("<div class=\"input-field col s12\"><input  class=\"waves-effect waves-light btn users_but col s12\" type=\"button\" onclick=\"getUserMSG(this,"+msg.user_id+")\" value=\""+msg.first_name+"\"></div><br>");

	});

	socket.on('connected', function(msg) {
		console.log('connected');
	});

	function getUserMSG(objButton,user_but){
		$('#buts_send').children().hide();
		$('#chat-messages').children().hide();
		$('#'+user_but).show();
		$('#'+user_but+'_form').show();

   		$('#chat-messages').animate({ scrollTop: $('#'+user_but).height() }, "slow");

	};

	function send_message(obj){
		socket.emit('send_message', {user_id: obj.id.split('_form')[0], message_text: obj.msg_text.value});
		obj.msg_text.value='';
	};
	 function burger() {
            $('.menu').toggleClass('menu_opened');
            $(document).click(function(event) {
                if ($(event.target).closest(".burger_trigger").length ) return;
                $('.menu').removeClass('menu_opened');
                event.stopPropagation();
            });
        };
</script>
<body class="blue-grey darken-4" class="nav">
	<input type="checkbox" id="nav-toggle" hidden>
	  <!-- 
    Метка с именем `id` чекбокса в `for` атрибуте
    Символ Unicode 'TRIGRAM FOR HEAVEN' (U+2630)
    Пустой атрибут `onclick` используем для исправления бага в iOS < 6.0
    См: http://timpietrusky.com/advanced-checkbox-hack 
    --><nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <!-- 
    Здесь размещаете любую разметку,
    если это меню, то скорее всего неупорядоченный список <ul>
    -->
        <h2 class="logo"> 
            <a href="/">Learn Python</a> 
        </h2>
        <ul>
            <li><a href="/messages">Повідомлення</a><br>
            <li><a href="/statistics">Статистика</a><br>
            <li><a href="/mailing">Розсилка</a>
        </ul></nav>	
        <header>
		<nav class="row blue-grey darken-3">
			<div class="nav-wrapper col m10 s12">
				<a href="/" class="brand-logo col s8 offset-s4 m4">Learn Python</a>
			</div>
		</nav>	
	</header>
	<main>
		<div class="row">
			<div class="col l2 m4 s8 mobileGlist">
				<div class="card horizontal blue-grey darken-3">
					<div id="data" class="card-content blue-grey darken-3 col s12">
						{% for key,val in users.items() %}
						<div class="input-field col s12">
						<input  class="waves-effect waves-light btn users_but col s12" type="button" onclick="getUserMSG(this,{{key}})" value="{{val}}">
					</div><br>
						{%endfor%}
					</div>
				</div>
			</div>


			<div class="col l10 m8 s11">

				<div class="card horizontal">
					<div id="chat-messages" class="card-content blue-grey darken-3 ">
						{% for key,val in messages.items() %}
						<div id="{{key}}" style="display:none; overflow:auto">
								{% for x in val %}
								{% for key1,val1 in x.items() %}
								<div class="chip" >{{key1}}:</div><div class = "white-text">{{val1}}</div><br>
								{%endfor%}
								{%endfor%}
						</div>	
						{%endfor%}
					</div>
            </div>


				</div>
			</div>
		</div>
		<div class="row" id="buts_send">
			{% for key,val in messages.items() %}
			<form onsubmit="send_message(this); return false;"  id="{{key}}_form" class = "send_forms" style="display:none;">
				<div class="input-field white-text col l8 offset-l2 offset-m4 s8">
					<input type="text" name="msg_text"></div>
					<div class="input-field col l4 offset-l2 offset-m4 s4">
						<input class="waves-effect waves-light btn" type="submit" value="Отправить">
					</div>
				</form>
			{%endfor%}
			</div>
			
		</div>
	</main>
</body>






