<!doctype html>
<title>Статистика</title>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css"/>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script>

	var socket = io.connect('https://flaskappprogram.herokuapp.com/test');

	socket.on('connect', function() {
		socket.emit('my_event', {data: 'I\'m connected!'});
	});

	socket.on('statistics', function(msg) {
		var x = $("#les"+msg.lesson_id).text()
		$("#les"+msg.lesson_id).text(parseInt(x)+1);

	});
</script>
<body class="blue-grey darken-4">
	<input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <h2 class="logo"> 
            <a href="/">Learn Python</a> 
        </h2>
        <ul>
            <li><a href="/messages">Повідомлення</a></li><br>
            <li><a href="/statistics">Статистика</a></li><br>
            <li><a href="/mailing">Розсилка</a></li><br>
        </ul></nav>	
	<header>
		<nav class="row blue-grey darken-3">
			<div class="nav-wrapper col m10 s12">
				<a href="/" class="brand-logo col s8 offset-s4 m8 offset-m4 col l12">Learn Python</a>
			</div>

		</nav>
	</header>
	<main>
		<div class="container">

		<div class="row">
			<h2  class="brand-logo white-text">Статистика тестів:</h2>
			<div class="card horizontal">
					<div id="chat-messages" class="card-content blue-grey darken-3 ">
						<div class="collection">
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les1" class="new badge" data-badge-caption="views">{{mas[0]}}</span>Тест №1</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les2" class="new badge" data-badge-caption="views">{{mas[1]}}</span>Тест №2</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les3" class="new badge" data-badge-caption="views">{{mas[2]}}</span>Тест №3</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les4" class="new badge" data-badge-caption="views">{{mas[3]}}</span>Тест №4</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les5" class="new badge" data-badge-caption="views">{{mas[4]}}</span>Тест №5</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les6" class="new badge" data-badge-caption="views">{{mas[5]}}</span>Тест №6</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les7" class="new badge" data-badge-caption="views">{{mas[6]}}</span>Тест №7</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les8" class="new badge" data-badge-caption="views">{{mas[7]}}</span>Тест №8</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les9" class="new badge" data-badge-caption="views">{{mas[8]}}</span>Тест №9</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les10" class="new badge" data-badge-caption="views">{{mas[9]}}</span>Тест №10</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les11" class="new badge" data-badge-caption="views">{{mas[10]}}</span>Тест №11</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les12" class="new badge" data-badge-caption="views">{{mas[11]}}</span>Тест №12</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les13" class="new badge" data-badge-caption="views">{{mas[12]}}</span>Тест №13</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les14" class="new badge" data-badge-caption="views">{{mas[13]}}</span>Тест №14</div>
        					<div  class="collection-item white-text blue-grey darken-3"><span id="les15" class="new badge" data-badge-caption="views">{{mas[14]}}</span>Тест №15</div>
      					</div>

					</div>
		</div>

		 

	</div>
</div>
	</main>
</body>